<% if @post.user != current_user %>
<h3>This post belongs to <%= @post.user.email %></h3>
<% end %>

<%= image_tag @post.image, class: "my-image" %>
  <p><% @post.caption %></p>
<% if current_user == @post.user %>
<%= button_to "Delete", @post, method: :delete %>
<%= button_to "Edit", "/posts/#{@post.id}/edit", method: :get %>
<% end %>
